<div>
  <h2>Search Exchange Rates</h2>
  <form (ngSubmit)="search()">
    <input type="text" placeholder="Currency Code" [(ngModel)]="currencyCode" name="currencyCode" required />
    <input type="date" [(ngModel)]="date" name="date" />
    <button type="submit">Search</button>
  </form>
  <div *ngIf="searchResults.length > 0">
    <h3>Results:</h3>
    <ul>
      <li *ngFor="let result of searchResults">
        {{ result.currencyCode }} - {{ result.rate }} ({{ result.date | date }})
      </li>
    </ul>
  </div>
</div>